<apex:page
  showHeader="<%= (options.showHeader !== undefined) ? options.showHeader : true %>"
  sidebar="<%= (options.sidebar !== undefined) ? options.sidebar : true %>"
  standardStylesheets="<%= (options.standardStylesheets !== undefined) ? options.standardStylesheets : true %>"
  applyHtmlTag="<%= (options.applyHtmlTag !== undefined) ? options.applyHtmlTag : true %>"
  applyBodyTag="<%= (options.applyBodyTag !== undefined) ? options.applyBodyTag : true %>">

  <head>
    <% if(options['.css'] ) { %>
    <% options['.css'].reverse().forEach(function(name) { %>
      <apex:stylesheet value="{! URLFOR($Resource.<%= name %>) }" />
    <% }) %>
    <% } %>
  </head>

  <body>
    <% if(options.remoteObject) { %>
      <apex:remoteObjects jsNamespace="<%= options.remoteObject.namespace %>">
        <% Object.keys(options.remoteObject.models).forEach(function (modelName) { %>
          <apex:remoteObjectModel
            name="<%= options.remoteObject.models[modelName].packageNamespace %><%= modelName %>" 
            fields="<%= options.remoteObject.models[modelName].fields %>"
          />
        <% }) %>
      </apex:remoteObjects >
    <% } %>

    <% if (options.appMountId) { %>
      <div id="<%= options.appMountId%>"></div>
    <% } %>

    <% if(options['.js'] ) { %>
    <% options['.js'].reverse().forEach(function(name) { %>
      <script src="{! URLFOR($Resource.<%= name %>) }"></script>
    <% }) %>
    <% } %>

  </body>

</apex:page>
